/*
generales
*/

*{
    -fx-base-color-focus:#ff3333;
    -fx-base-color-unfocus:#4d4d4d;
    -fx-base-color-etiquetas:#999999;
    -fx-base-color-texto:#000000;
    -fx-base-color-titulos:#51b6cd;
    -fx-base-color-error:#d34336;
    -fx-base-color-id:#00c853;
    -mfx-main:-fx-base-color-focus;
    -mfx-purple:-fx-base-color-focus;
}

.mfx-text-field{
    -mfx-float-mode:BORDER;
    -fx-font-size:14px;
    -fx-pref-heigth:40px;
    -fx-min-heigth:40px;
    -fx-max-heigth:40px;
    -fx-alignment:TOP_LEFT;
    -fx-text-fill:-fx-base-color-titulos;
    -fx-prompt-text-fill:-fx-base-color-etiquetas;
    
}

.mfx-text-field .text-field{
    -fx-highlight-fill:-fx-base-color-focus;
}

.jfx-titulo-label{
    -fx-font-size:18px;
    -fx-padding:5 0 5 0;
    -fx-text-fill:fx-base-color-titulos;
    -fx-font-weight: bold;   
    -fx-text-fill:#333333
}

.mfx-button{
    -mfx-button-type:RAISED;
    -fx-opacity:0.8;
    -fx-content-display:left;
    -fx-text-fill:black;
    -fx-font-weight:bold;
    -fx-font-size:14px;
    -fx-aligment:center-left;
}
.mfx-button .mfx-ripple-generator{
    -mfx-ripple-color:white;
}

.button:hover{
    -fx-background-color:#ff6d00;
}

.anchor-pane {
    -fx-background-color: #cccccc;
}
.mfx-checkbox {
    -fx-font-size:15px;
    -fx-pref-heigth:25px;
    -fx-min-heigth:25px;
    -fx-max-height:25px;
    -fx-text-fill: -fx-base-color-etiquetas;
    -mfx-main: -fx-base-color-focus;
    -mfx-secondary: -fx-base-color-unfocus;
}

.separator{
    -fx-background-color:#333333
}


/*
Botones
*/
.jfx-btn-nuevo, .jfx-btn-nuevo:armed, .jfx-btn-nuevo:focused{
    -fx-background-color:#2196f3;
}

.jfx-btn-nuevo > ImageView{
    
    -fx-image: url("../Resources/Save.png");
    
}

.jfx-btn-employees > ImageView{
    
    -fx-image: url("../Resources/Employees.png");
    
}

.jfx-btn-agregar, .jfx-btn-agregar:armed, .jfx-btn-agregar:focused{
    -fx-background-color:#2196f3;
}

.jfx-btn-eliminar, .jfx-btn-eliminar:armed, .jfx-btn-eliminar:focused{
    -fx-background-color:#2196f3;
}

.jfx-btn-eliminar > ImageView{
    
    -fx-image: url("../Resources/Cancel.png");
    
}

.jfx-btn-client > ImageView{
    
    -fx-image: url("../Resources/Clients.png");
    
}

.jfx-btn-person > ImageView{
    
    -fx-image: url("../Resources/AddPerson.png");
    
}

.jfx-btn-exit > ImageView{
    
    -fx-image: url("../Resources/Back.png");
    
}

.jfx-btn-clean > ImageView{
    
    -fx-image: url("../Resources/Clean.png");
    
}

.jfx-btn-edit > ImageView{
    
    -fx-image: url("../Resources/Edit.png");
    
}

.jfx-btn-indicators > ImageView{
    
    -fx-image: url("../Resources/Indicators.png");
    
}

.jfx-btn-settings > ImageView{
    
    -fx-image: url("../Resources/Settings.png");
    
}

.jfx-btn-station > ImageView{
    
    -fx-image: url("../Resources/Station.png");
    
}

.jfx-btn-procedures > ImageView{
    
    -fx-image: url("../Resources/Procedures.png");
    
}

.jfx-btn-photo > ImageView{
    
    -fx-image: url("../Resources/Photo.png");
    
}


.jfx-btn-branches > ImageView{
    
    -fx-image: url("../Resources/Branches.png");
    
}

.jfx-btn-clients > ImageView{
    
    -fx-image: url("../Resources/Clients.png");
    
}

.jfx-btn-station > ImageView{
    
    -fx-image: url("../Resources/Staion.png");
    
}